<div class="row">
    <div class="col-md-10">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="ui_kit_input">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control h50" ng-model="node.content" placeholder="" ng-blur="saveContent()">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="ui_kit_select_box">
                <select class="form-control" ng-options="tab.index as tab.index + '.' + tab.title for tab in tabs" ng-change="changeGo()"
                    ng-model="selectTab" style="height:50px;">
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-danger" style="width:40px;height:40px;" ng-show="node.content" ng-click="remove_node()">
            <span class="flaticon-rubbish-bin pl-0"></span>
        </button>
    </div>
</div>